*.iml
.gradle
/local.properties
.idea
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignorar google-services.json específico de debug
app/src/debug/google-services.json

# Ignorar google-services.json principal
app/src/main/java/com/univalle/equipotres/google-services.json

